.new_session-wrapper
  .new_session-wrapper__logo
    = link_to root_path, class:"furima_logo" do
      = image_tag "logo.png", size: "130x50"
    %span{class: "new_session-wrapper__logo__title before-active after-active"}
      会員情報
    %span{class: "new_session-wrapper__logo__title title-active after-active"}
      住所情報
    %span{class: "new_session-wrapper__logo__title-done"}
      登録完了
  .new_session-wrapper__main
    .new_session-wrapper__main__head
      住所情報
  .new_session-wrapper__main
    .new_session-wrapper__main__title
      = form_for @address do |f|
        = render "devise/shared/error_messages", resource: @address
        .field
          郵便番号
          %span{class: "require"} 必須
          = f.text_field :zipcode, {class: "new_session-wrapper__main__text", placeholder: "例)123-4567"}
        .field
          都道府県
          %span{class: "require"} 必須
          .field-select
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
        .field
          市区町村
          %span{class: "require"} 必須
          = f.text_field :city, {class: "new_session-wrapper__main__text", placeholder: "例)福岡市博多区"}
        .field
          番地
          %span{class: "require"} 必須
          = f.text_field :address, {class: "new_session-wrapper__main__text", placeholder: "例)中洲4-6-12"}
        .field
          建物名
          %span{class: "any"} 任意
          = f.text_field :building, {class: "new_session-wrapper__main__text", placeholder: "例)プラート中洲8F"}
        .field
          ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
          = f.submit class: "new_session-wrapper__main__btn", value: "次へ進む"
