
%link{href: "item_payment.scss", rel: "stylesheet"}

.container
  %header.header-area
    %h1.header-area__title
      .image__box__top
  %main.main
    %section.buy
      %h2.buy__head
        購入内容の確認
      %section.buy__item
        .buy__item__content
          .buy__item__content__box
            %h3.buy__item__content__box__image
              - @item.item_images.each.with_index do |image, i|
                -if i == 0
                  = image_tag "#{image.image}", alt: '商品画像', width: '150', height: '100', class: 'image-first', index: i
            .buy__item__content__detail
              %p.buy__item__content__detail__name
                = @item.item_name
              %p.buy__item__content__detail__price
                %span
                  = "#{@item.price}" + "円"
                %span.shipping-fee
                  （税込）送料込み
      %section.buy__item
        .buy__item__content
          %section.buy__item__content__method.buy-user-info
          - if @user.credit_card.present?
            .purchase_function
              .credit_card_info_title
                クレジットカード情報
                .credit_card_info
                  .credit_card_info__brand
                    = image_tag "cards/#{@card_src}", size: "49x20", class: "credit_card_info__brand__img", alt: @card_brand
                  .credit_card_info__numbers
                    .number
                      = "**** **** **** " + @customer_card.last4
                    .expiration_date
                      .expiration_date__title
                        有効期限
                      .expiration_date__info
                        = @exp_month + " / " + @exp_year
              .purchase_function__btn
                = link_to "登録クレジットカードで購入する", pay_item_payments_path(item_id: @item.id), method: :post, class: "btn"
          - else 
            .purchase_none_btn
              = link_to "クレジットカードを登録してください", edit_credit_card_path(current_user.id)
  %footer.footer-area
    %nav.footer-area__content
      %ul.clearfix.footer-area__content__box
        %li
          = link_to "プライバシーポリシー", "#", class: "footer-area__content__box__element"
        %li
          = link_to "フリマ利用規約", "#", class: "footer-area__content__box__element"
        %li
          = link_to "特定商取引に関する表記", "#", class: "footer-area__content__box__element"
    = link_to image_tag('logo-white.png', alt: "furima", width: "230", height: "65" ), "#"
    %p
      %small
        © Furima, Inc.


