.single-container

  %header.single-header
    %h1
      = link_to image_tag('material/logo/logo.png', alt: 'FURIMA'), '#' 

  %main.single-main
    %section.l.buy
      %h2.l__head.buy__head
        購入内容の確認
      %section.buy__content.buy__item
        .buy__content__inner
          .buy__item__box
            %h3.buy__item__box--image
              = image_tag '#', class: 'is-higher-height lazyloaded', alt:''
            .buy__item__box--detail
              %p.buy__item__box--detail__name
              新品 デジタル 腕時計 多機能 LED ボーイズ(キッズ)から大人までB5
              %p.buy__item__box--detail__price
                %span
                  ¥1,290
                %span.shipping__fee
                  （税込）送料込み
      %section.buy__content.buy__item
        .buy__content__inner
          %form{ action: '#' method: 'POST' id: 'buy-item-form' novalidate: 'novalidate' }
            %ul.buy-price-table
              %li.buy-price-table__row.buy-you-pay.bold
                .buy-price-cell.buy-price-cell-label
                  支払い金額
                .buy-price-cell
                  %span
                    ¥1,290
            %ul.buy-according.buy-not-have-point
              %li.buy-according__parent
                .checkbox-default.buy-use-point
                  %input{ type: 'checkbox' }
                  %i.icon-check
                  %label
                    ポイントを使用 (所持ポイント: P0)
            %section.buy__content.buy__user__info
              .buy-content-inner
                %h3
                  支払い方法
                %p.buy__user__info__text
                  %i.icon-plus-circle
                  %span.buy__user__info__text--register
                    = link_to "登録してください", "#"
            %section.buy__content.buy__user__info
              .buy-content-inner
                %h3
                  配送先 
                %p.buy__user__info__text
                  %i.icon-plus-circle
                  %span.buy__user__info__text--register
                    = link_to "登録してください", "#"
            %section.buy__content.buy__user__info
              %button{ type: 'submit' class: 'btn-default btn-red bold' }
                購入する
              %input{ type: 'hidden' id: 'user_info_is_not_complete' }
        %section
          .buy__identity-confirmation__madal
            %aside{ class: 'modal' data-modal: 'identity-confirmation' data-close: 'modal' }
              .modal__inner.modal__banner
                .modal__inner__body
                  .modal__inner__body__head.bold.visible-pc
                    こちらの商品の購入には本人確認が必要になります
                  .modal__inner__body__head.bold.visible-sp
                    こちらの商品の購入には
                    %br
                    本人確認が必要になります
                  .modal__inner__body__content
                    .visible-sp
                      アプリから本人確認の手続きをお願いします。
                    = link_to "アプリを開く", "#", class: "btn-default btn-open-app visible-sp", data-toggle: "open-app", data-url-scheme: "#", data-action: "#", data-key: "#", data-adjust-url: "#"
                    .not-have-app-text.visible-pc
                      フリマアプリをダウンロードいただき、フリマペイでの本人確認の手続きをお願いします。
                    .not-have-app-text.visible-sp
                      アプリをお持ちでない方は以下よりインストールをお願いします。
                    .buy-store-logos.visible-sp
                      = link_to image_tag("#", alt: ""), "#", target: "_blank" 
                    .guide-text
                      詳しくは
                      = link_to "フリマガイド", "#" 
                      をご確認ください
              .clearfix
                = link_to "閉じる", type: button, class: "modal-btn-close" data-close: "modal"
        .overlay
  
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "フリマ利用規約", "#"
        %li
          = link_to "特定商取引に関する表記", "#"
    = link_to image_tag("#" alt: "furima" width: "80" height: "65"), "#", class: "single-footer__logo" 
    %p
      %small
        © Furima, Inc.


-# %script{ type: "text/javascript" }
-# %script
