.conteiner
  .conteiner__side
    %nav.conteiner__side__nav
      %ul.conteiner__side__nav__list
        %li.conteiner__side__nav__list__item
          = link_to  do
            マイページ
        %li.conteiner__side__nav__list__item
          = link_to  do
            出品する
        %li.conteiner__side__nav__list__item
          = link_to  do
            出品した商品ー出品中
        %li.conteiner__side__nav__list__item
          = link_to  do
            出品した商品ー取引中 
        %li.conteiner__side__nav__list__item
          = link_to  do
            出品した商品ー売却済み
        %li.conteiner__side__nav__list__item
          = link_to  do
            購入した商品ー取引中
        %li.conteiner__side__nav__list__item
          = link_to  do
            購入した商品ー過去の取引
      %h3.conteiner__side__nav__head
        設定
      %ul.conteiner__side__nav__list
        %li.conteiner__side__nav__list__item
          = link_to  do
            プロフィール
        %li.conteiner__side__nav__list__item
          = link_to  do
            発送元・お届け先住所変更
        %li.conteiner__side__nav__list__item
          = link_to  do
            支払い方法
        %li.conteiner__side__nav__list__item
          = link_to  do
            メール/パスワード
        %li.conteiner__side__nav__list__item
          = link_to  do
            本人情報
        %li.conteiner__side__nav__list__item
          = link_to  do
            電話番号の確認
        %li.conteiner__side__nav__list__item
          = link_to  do
            ログアウト
  .conteiner__content
    .conteiner__content__user-icon
      = link_to do
        .conteiner__content__user-icon__img
          watanabe
        %h2.conteiner__content__user-icon__name
          masahito-watanabe
        .conteiner__content__user-icon__number
          評価 0  出品数 0
    .conteiner__content__tab
      %h2.conteiner__content__tab__head
        購入した商品
      %ul.conteiner__content__tab__tabs
        %li<
          %h3
            取引中
        %li<
          %h3
            過去の取引
      %ul.conteiner__content__tab__content
        %li<
          取引中の商品がありません
.footer
  .footer__clearfix
    .footer__clearfix__cell
      %h2.footer__clearfix__cell__head
        ＊＊＊＊について
      %ul
        %li<
          = link_to  do 
            会社概要（運営会社）
        %li<
          = link_to  do 
            採用情報
        %li<
          = link_to  do 
            プレスリリース
        %li<
          = link_to  do 
            公式ブログ
        %li<
          = link_to  do 
            ＊＊＊＊ロゴ利用カテゴリライン
    .footer__clearfix__cell
      %h2.footer__clearfix__cell__head
        ヘルプ＆ガイドライン
      %ul
        %li<
          = link_to  do 
            ＊＊＊＊ガイド
        %li<
          = link_to  do 
            らくらく＊＊＊＊便
        %li<
          = link_to  do 
            ゆうゆう＊＊＊＊便
        %li<
          = link_to  do 
            梱包・発送たのめる便
        %li<
          = link_to  do 
            車体取引ガイド
        %li<
          = link_to  do 
            ****あんしん・あんぜん宣言！
        %li<
          = link_to  do 
            偽ブランド品撲滅撲滅への取り組み
        %li<
          = link_to  do 
            ＊＊＊＊ボックス
        %li<
          = link_to  do 
            スマホ出品・売却相場
    .footer__clearfix__full-width
      %h2.footer__clearfix__full-width__head
        プライバシーと利用規約
      .footer__clearfix__full-width__inner-cell
        %ul
          %li<
            = link_to  do 
              プライバシーポリシー
          %li<
            = link_to  do 
              ＊＊＊＊利用規約
          %li<
            = link_to  do 
              あんしんスマホサポート制度に関する利用特約
          %li<
            = link_to  do 
              コンプライアンスポリシー              
      .footer__clearfix__full-width__inner-cell 
        %ul
          %li<
            = link_to  do 
              個人データの安全管理に係る基本方針
          %li<
            = link_to  do 
              特定商取引に関する表記
          %li<
            = link_to  do 
              資金決済方に基づく表示
          %li<
            = link_to  do 
              法令順守と犯罪抑止のために              
      .footer__clearfix__lang
        %h2.footer__clearfix__lang__head
          国
        %ul
          %li<
            = link_to  do 
              日本
          %li<
            = link_to  do 
              United States 
  .footer__bottom
    = link_to  do
      logo
  %span.footer__copyright
    %small
      © ＊＊＊＊, Inc.