.main__one
  .main__one__content
    %h.main__one__content__subtitle
      %br
      人生を変えるフリマアプリ

    %p.content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .content__btn
      = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "150x80"), "#"
      = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "150x80"), "#"

.main__two
  %b.main__two__title
    FURIMAが選ばれる3つの理由
  %ul.photo__series
    %li.photo__one
      .photo__one__picture
        = image_tag "pict-reason-01.jpg", size: "300x300"
      %b
        ３分 ですぐに出品
      %p
        スマホで入力するだけで簡単に出品で
      %p
        きる！
    %li.photo__two
      .photo__two__picture
        = image_tag "pict-reason-02.jpg", size: "300x300"
      %b
        シンプル で使いやすい
      %p
        めんどくさい入力は必要なく、検索も
      %p
        購入もスムーズ！
    %li.photo__three
      .photo__three__picture
        = image_tag "pict-reason-03.jpg", size: "300x300"
      %b
        手数料 業界最安
      %p
        最大３％でお得に出品＆購入！

.main__three
  .main__three__content
    %h.main__three__content__subtitle
      会員数日本一位

    %p.content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .content__btn
      = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "150x80"), "#"
      = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "150x80"), "#"


.main__four
  %b.main__four__title
    FURIMAの特徴
  %ul.photo__series__secound
    %li.photo__four
      .photo__four__picture
        = image_tag "icon-01.png", size: "300x300"
      %b
        簡単に売り買いできる
      %p
        スマホひとつで、いつでもどこでも簡単
      %p
        に出品・購入が可能！
    %li.photo__five
      .photo__five__picture
        = image_tag "icon-03.png", size: "300x300"
      %b
        売上金は即日振込みに対応
      %p
        午前９時までに振込みをご依頼いただけれ
      %p
        ば、翌日に指定の口座に入金いたします！
    %li.photo__six
      .photo__six__picture
        = image_tag "icon-04.png", size: "300x300"
      %b
        様々な支払いに対応
      %p
        お支払いは、クレジットカードだけでな
      %p
        く、ポイントや売上金など多彩な方法が
      %p
        あります。
  

.main__five
  .main__five__one
    %h2.head
      ピックアップカテゴリー

    .product__box
      .product__head
        %h3.title
          = link_to "新規投稿商品", "#"


      .product__lists
        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)
        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)

        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)

  .main__five__two
    %h2.head
      ピックアップブランド

    .product__box
      .product__head
        %h3.title
          = link_to "アーカイバ", "#"


      .product__lists
        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)
        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)

        .product__list
          %figure.product__list__img
            = link_to image_tag("pict-reason-03.jpg", size: "250x250")
          .product__list__body
            %h3.name
              product
            .details
              %ul
                %li
                  30000円
              %p
                (税込)

.banner
  .banner__inner
    %h.banner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text
      今すぐ無料ダウンロード！
    .content__btn
    = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "150x80"), "#"
    = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "150x80"), "#"


.footer
  .footer__main
    .footer__main__info
      %ul
        %h.footer__main__info__title
        FURIMAについて
        %li
        = link_to "会社概要", "#", calss:"footer__main__info__content"
        %li
        = link_to "プライバシーポリシー", "#", calss:"footer__main__info__content"
        %li
        = link_to "FURIMA利用規約", "#", calss:"footer__main__info__content"
        %li
        = link_to "ポイントに関する特約", "#", calss:"footer__main__info__content"
      %ul
        %h.footer__main__info__title
        FURIMAを見る
        %li
        = link_to "カテゴリー一覧", "#", calss:"footer__main__info__content"
        %li
        = link_to "ブランド一覧", "#", calss:"footer__main__info__content"
      %ul
        %h.footer__main__info__title
        ヘルプ＆ガイド
        %li
        = link_to "FURIMAガイド", "#", calss:"footer__main__info__content"
        %li
        = link_to "FURIMAロゴ利用ガイドライン", "#", calss:"footer__main__info__content"
        %li
        = link_to "お知らせ", "#", calss:"footer__main__info__content"
    .footer__logo
      = link_to root_path, class:"furima_logo_white" do
        = image_tag "logo-white.png", size: "130x50"
      
      %div
      = link_to "#", class:"camera_logo" do
        = image_tag "icon_camera.png", size: "80x50"