.title
  = link_to image_tag("logo.png", height: '49', width: '185', class: 'logo'), "/"
.content
  .content-main
    = form_with model: @item, url: items_path, method: "POST", local: true do |f|
      .image-product
        %label.label-edit 出品画像
        %sapn.required 必須
        %p 最大１０枚までアップロードできます。
        .name__image
          .name__image__set
            = f.fields_for :item_images do |item_image|
              = item_image.label :image, class: "name__image__set__file" do
                = image_tag "icon_camera.png", class: 'camera', height: '20', width: '18'
                = item_image.file_field :image, class: "hidden"
            %p 
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
        .image__message
          画像がありません
      .item-explain
        %label.label-edit 商品名
        %sapn.required 必須
        .item-explain__text
          = f.text_field :item_name, class: "item-explain__text__form", placeholder: "40文字まで"
          -# %input{autocomplete: "off", name:"name", placeholder: "40文字まで", type: "text", value: ""}
          %p 
            入力してください
          %label.label-edit 商品の説明
          %sapn.required 必須
          .item-explain__text__textarea
            = f.text_area :content, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありませ\nん。あわせやすいのでおすすめです。"
            -# %textarea{placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありませ\nん。あわせやすいのでおすすめです。"}
          %p
            入力してください
          .item-show
            %p
              商品の詳細
            .item-show__list
              %label.label-edit  カテゴリー
              %sapn.required 必須
              = f.select :category_id, Category.all.map { |category| [category.title, category.id] }, { selected: 14 } 
              -# %select 
              -#   %option 選択してください
              -#   %option レディース
              -#   %option メンズ
              -#   %option ベビー・キッズ
              -#   %option インテリア・住まい・小物
              -#   %option 本・音楽・ゲーム
              -#   %option おもちゃ・ホビー・グッズ
              -#   %option コスメ・香水・美容
              -#   %option 家電・スマホ・カメラ
              -#   %option スポーツ・レジャー
              -#   %option ハンドメイド
              -#   %option チケット
              -#   %option 自動車・オートバイ
              -#   %option その他
      .choice
        選択してください
      .item-show__list
        %label.label-edit  ブランド
        %sapn.item-show__list__any 任意
        = f.fields_for :brands do |brand|
          = brand.text_field :brand, placeholder: "例） シャネル"
        -# %input{placeholder: "例） シャネル"}
      .choice
        選択してください
      .item-show__list
        %label.label-edit 商品の状態
        %sapn.required 必須
        = f.select :status, { "選択してください": 1, "新品・未使用": 2, "未使用に近い": 3, "目立った傷や汚れなし": 4, "やや傷や汚れあり": 5, "傷や汚れあり": 6, "全体的に状態が悪い": 7 }
        -# %select
        -#   %option 選択してください
        -#   %option 新品・未使用
        -#   %option 未使用に近い
        -#   %option 目立った傷や汚れなし
        -#   %option やや傷や汚れあり
        -#   %option 傷や汚れあり
        -#   %option 全体的に状態が悪い
        .choice
          選択してください
      .delivery
        %p 
          配送について
        .delivery__list
          %label.label-edit  配送料の負担
          %sapn.required 必須
          = f.fields_for :shippings do |shipping|
            = shipping.select :ship_base, { "選択してください": 1, "送料込み（出品者負担）": 2, "着払い（購入者負担）": 3 }
            -# %select
            -#   %option 選択してください
            -#   %option 送料込み（出品者負担）
            -#   %option 着払い（購入者負担）
            .choice
              選択してください
            .delivery__list
              %label.label-edit  発送までの日数
              %sapn.required 必須
              = shipping.select :ship_date, { "選択してください": 1, "1日〜2日で発送": 2, "2日〜3日で発送": 3, "4日〜7日で発送": 4 }
            -# .delivery__list
            -#   = form_for '' do |f|
            -#     = f.label :発送元の地域, {class: 'label-edit'}
            -#     = f.label :必須, {class: 'required'}
            -#     .delivery__list__prefecture
            -#       = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'
            -#   .choice
            -#     選択してください
            -# .delivery__list
            -#   %label.label-edit  発送までの日数
            -#   %sapn.required 必須
            -#   %select
            -#     %option 選択してください
            -#     %option 1日〜2日で発送
            -#     %option 2日〜3日で発送
            -#     %option 4日〜7日で発送
            -# .choice
            -#   選択してください
      .item-price
        %p
          価格（¥300〜9,999,999)
        .item-price__content
          .item-price__status
            %label.label-edit 商品の状態
            %sapn.required 必須
          .item-price__bye
            %span ¥
            = f.text_field :price, placeholder: "0"
            -# %input{type: 'number', placeholder: '0', class: 'product-price'}
        %p.form-error
          300以上9999999以下で入力してください
      .fee
        .fee__price
          販売手数料 (10%)
        .fee__content
          %span ー
      .profit
        .profit__price
          販売利益
        .profit__content
          %span ー
      .exhibilion
        .exhibilion__button
          = f.submit "出品する", class: 'exhibilionbutton'
          -# %button{type: "submit", value: '出品する', class: 'exhibilionbutton'} 出品する
          %button{type: "submit", class: 'exhibilion__save'} 下書きに保存
        %a.top__return 
          もどる
        %p.warning
          禁止されている
          %a 行為 および
          %a 出品物
          を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律に
          より処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .product__footer
    .product__footer__link
      = link_to 'プライバシーポリシー', '/', class: 'footer-link'
      = link_to 'フリマ利用規約', '/', class: 'footer-link'
      = link_to '特定商取引に関する表記', '/', class: 'footer-link'
    .product__footer__logo
      = image_tag 'logo-white', height: '49', width: '185'
    %p.logo__tag
      © FURIMA, Inc.