.container

  %header.header
    %h1.header__title
      = link_to image_tag("logo.png", alt: 'FURIMA', class: "header__title__link"), "#"

  %main.main
    %section.buy
      %h2.buy__head
        購入内容の確認
      %section.buy__item
        .buy__item__content
          .buy__item__content__box
            %h3.buy__item__content__box__image
              = image_tag "pict-reason-02.jpg", data: { src: "#" }, class: "is-higher-height"
            .buy__item__content__detail
              %p.buy__item__content__detail__name
                新品 デジタル 腕時計 多機能 LED ボーイズ(キッズ)から大人までB5
              %p.buy__item__content__detail__price
                %span
                  ¥1,290
                %span.shipping-fee
                  （税込）送料込み
      %section.buy__item
        .buy__item__content
          = form_with model: Item.new do |f|
            %ul.buy__item__content__price
              %li.buy__item__content__price__row.bold
                .buy__item__content__price__row--left.buy__item__content__price__row--label
                  支払い金額
                .buy__item__content__price__row--right
                  %span
                    ¥1,290
            %ul.buy__item__content__according
              %li.buy__item__content__according__parent
                .checkbox-default
                  = f.check_box :price
                  -# %i.icon-check
                  %label
                    ポイントを使用 (所持ポイント: P0)
            %section.buy__item__content__method.buy-user-info
              .buy__item__content__method__inner
                %h3
                  支払い方法
                  %p.buy-user-info__text
                    %i.icon-plus-circle
                    %span.buy-register-text
                      = link_to "登録してください", "#", class: "pay-method" 
            %section.buy__item__content__method.buy-user-info
              .buy__item__content__method__inner
                %h3
                  配送先 
                  %p.buy-user-info__text
                    %i.icon-plus-circle
                    %span.buy-register-text
                      = link_to "登録してください", "#", class: "pay-method" 
            %section.buy__item__content__method.buy-user-info
              = f.submit '購入する', class: "btn-default btn-red bold"
              = f.hidden_field :price, id: "user_info_is_not_complete"

  %footer.footer
    %nav.footer__content
      %ul.clearfix.footer__content__box
        %li
          = link_to "プライバシーポリシー", "#", class: "footer__content__box__element"
        %li
          = link_to "フリマ利用規約", "#", class: "footer__content__box__element"
        %li
          = link_to "特定商取引に関する表記", "#", class: "footer__content__box__element"
    = link_to image_tag('logo-white.png', alt: "furima", width: "230", height: "65" ), "#"
    %p
      %small
        © Furima, Inc.

