
.main
  .main__show
    .content__main
      .content__main__top
        .item-box
          %h2.item-box__title
            
          .image__box__body
            %ul
              %li.image__box__list
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
                %ul.grand
                  %li.child
                    = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", width: "75", height: "75"
                  %li.child
                    = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", width: "75", height: "75"
                  %li.child
                    = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", width: "75", height: "75"
          .item__box__price
            %span ¥
            = @item
            .item__box__price__data
              %span (税込み)
              %span  送料込み
          .item__datail

          .table
            %table.table__main
              %tbody.table__main__body
                %tr.table-tr
                  %th.table-th 出品者
                  %td.table-td 
                    
                %tr.table-tr
                  %th.table-th カテゴリー
                  %td.table-td
                    = @categories
                %tr.table-tr
                  %th.table-th ブランド
                  %td.table-td
                    = @brands
                %tr.table-tr
                  %th.table-th サイズ
                  %td.table-td

                %tr.table-tr
                  %th.table-th 商品のサイズ
                  %td.table-td

                %tr.table-tr
                  %th.table-th 商品の状態
                  %td.table-td

                %tr.table-tr
                  %th.table-th 配送料の負担
                  %td.table-td 送料込み（出品者負担）
                %tr.table-tr
                  %th.table-th 発送元の地域
                  %td.table-td
                %tr.table-tr
                  %th.table-th 発送日の目安
                  %td.table-td 4-7日で発送
          .optional__area
            %ul
              %li.optional__btn__star
                = icon('fa fa-star', class: 'star-icon')
                お気に入り 0
            %ul.optional
              %li.optional__btn__flag 
                = link_to '/' do
                  = icon('fa fa-flag', class: 'flag')
                  不適切な商品の通報
        .comment__box
          %ul.commentContents
          .form
            = form_with model:@comment, local: true do |f|
              = f.text_area :text, class: "comment__body"
            %P.notice
              相手のことを考えて丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.comment__button{name:'burron', type: 'submit'}
              = icon('fa fa-comment', class: 'comment')
              コメントする
      %ul.links
        %li.links__left
          = link_to '/', class: 'links__left__icon' do
            = icon('fa fa-angle-left' ,class: 'angle-left')
            %sapn 前の商品
        %li.links__right
          = link_to '/', class: 'links__right__icon' do
            %sapn 後ろの商品
            = icon('fa fa-angle-right' ,class: 'angle-right')
      .items
        = link_to 'ベビー・キッズをもっと見る', '/posts/new',  class: 'items__show'
