
.main
  .main__show
    .content__main
      .content__main__top
        .item-box
          %h2.item-box__title
            = @item.item_name
          .image__box__body
            .image__box__top
              - @item.item_images.each.with_index do |image, i|
                -if i == 0
                  = image_tag "#{image.image}", alt: '商品画像', class: 'image-first', index: i
            .image__box__list
              - @item.item_images.each.with_index do |image, i|
                - if i > 0 and i < 10
                  = image_tag "#{image.image}", width: '135', alt: '商品画像', index: i
          .item__box__price
            %span 
            = "￥#{@item.price}"
            .item__box__price__data
              %span (税込み)
              %span  送料込み
          - unless user_signed_in? && current_user.id == @item.user_id
            .item__box__payment
              = link_to buy_item_payments_path(@item.id) , class: "item_payment", method: :get do
                購入画面に進む
          .item__datail
          .table
            %table.table__main
              %tbody.table__main__body
                %tr.table-tr
                  %th.table-th 出品者
                  %td.table-td 
                    = @item.user.nickname
                %tr.table-tr
                  %th.table-th カテゴリー
                  %td.table-td
                    = link_to "/", class: "link-blue" do
                      = @item.category.title
                %tr.table-tr
                  %th.table-th ブランド
                  %td.table-td
                    = @item.brand.brand
                %tr.table-tr
                  %th.table-th 商品のサイズ
                  %td.table-td
                    = @item.size
                %tr.table-tr
                  %th.table-th 商品の状態
                  %td.table-td
                    = @item.status.name
                %tr.table-tr
                  %th.table-th 配送料の負担
                  %td.table-td 
                    = @item.shipping.ship_base.name
                %tr.table-tr
                  %th.table-th 発送元の地域
                  %td.table-td
                    = @item.shipping.prefecture.name
                %tr.table-tr
                  %th.table-th 発送日の目安
                  %td.table-td 
                    = @item.shipping.ship_date.name
          .optional__area
            %ul
              %li.optional__btn__star
                = icon('fa fa-star', class: 'star-icon')
                お気に入り 0
            %ul.optional
              %li.optional__btn__flag
                = link_to '/' do
                  = icon('fa fa-flag', class: 'flag')
                  不適切な商品の通報
          .fix-area
            - if user_signed_in? && current_user.id == @item.user_id 
              .fix-area__zone__edit
                = link_to "商品を編集する", "/items/#{@item.id}/edit", class: "item-edit"
            - if user_signed_in? && current_user.id == @item.user_id
              .fix-area__zone__delete
                = link_to "商品を削除する", "/items/#{@item.id}", method: "delete", class: "item-delete"
          .comment__contents
        .comment__box
          %ul.commentContents
          .form
            = form_with model: @comment, local: true do |f|
              = f.text_area :text, class: "comment__body"
            %P.notice
              相手のことを考えて丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.comment__button{name:'button', type: 'submit'}
              = icon('fa fa-comment', class: 'comment')
              コメントする
      %ul.links
        %li.links__left
          = link_to '#', class: 'links__left__icon' do
            = icon('fa fa-angle-left' ,class: 'angle-left')
            %sapn 前の商品
        %li.links__right
          = link_to '#', class: 'links__right__icon' do
            %sapn 後ろの商品
            = icon('fa fa-angle-right' ,class: 'angle-right')
      .items
        = link_to 'ベビー・キッズをもっと見る', '/posts/new',  class: 'items__show'

