!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample74a
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    .header
      .header__innner
        .header__inner__main
          .header__inner__main__logo
            = link_to root_path, class:"furima_logo" do
              = image_tag "logo.png", size: "130x50"

          .header__inner__main__search
            %form
              %input{:placeholder => "キーワードから探す", :type => "text", :size => "100", :class => "search_box"}/
              %button
                = link_to "#", class:"search_logo" do
                  = image_tag "icon-search 1.png", size: "20x20"

            .header__inner__nav
              .header__inner__nav__list
                %ul.header__inner__nav__left
                  %li.header__inner__nav--left__first
                  = link_to "カテゴリー", "#"
                  %li.header__inner__nav--left__secound
                  = link_to "ブランド", "#"
                - if user_signed_in?
                  %ul.header__inner__nav__right
                    %li.header__inner__nav--right__first
                    = link_to "マイページ", "/users/#{current_user.id}"
                - else
                  %ul.header__inner__nav__right
                    %li.header__inner__nav--right__first
                    = link_to "ログイン", new_user_session_path
                    %li.header__inner__nav--right__secound
                    = link_to "新規会員登録", new_user_registration_path
  %body
    = yield
.footer
  .footer__main
    .footer__main__info
      %ul
        %h.footer__main__info__title
        FURIMAについて
        %li
        = link_to "会社概要", "#", calss:"footer__main__info__content"
        %li
        = link_to "プライバシーポリシー", "#", calss:"footer__main__info__content"
        %li
        = link_to "FURIMA利用規約", "#", calss:"footer__main__info__content"
        %li
        = link_to "ポイントに関する特約", "#", calss:"footer__main__info__content"
      %ul
        %h.footer__main__info__title
        FURIMAを見る
        %li
        = link_to "カテゴリー一覧", "#", calss:"footer__main__info__content"
        %li
        = link_to "ブランド一覧", "#", calss:"footer__main__info__content"
      %ul
        %h.footer__main__info__title
        ヘルプ＆ガイド
        %li
        = link_to "FURIMAガイド", "#", calss:"footer__main__info__content"
        %li
        = link_to "FURIMAロゴ利用ガイドライン", "#", calss:"footer__main__info__content"
        %li
        = link_to "お知らせ", "#", calss:"footer__main__info__content"
    .footer__logo
      = link_to root_path, class:"furima_logo_white" do
        = image_tag "logo-white.png", size: "130x50"
      
      %div
      = link_to "#", class:"camera_logo" do
        = image_tag "icon_camera.png", size: "80x50"